* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}
body {
    background-image: url("../../public/images/fundo-login.png");
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    margin: 0 10px;
}
.title {
   grid-column: span 12;
}
form {
    grid-column: span 1;
    align-self: center;
    padding: 10px;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    gap: 20px;
}
input {
    padding: 8px 0;
    background: transparent; 
    border: none; 
    border-bottom: 2px solid #ccc;
    outline: none;    
    color: #FFFFFF;
    transition: border-color 0.3s;
    font-size: 18px;
}
input::placeholder {
    color: #FFFFFF;
}
input:focus {
    border-bottom: 2px solid #1E5EFF;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 999999s ease-in-out 0s;
    -webkit-text-fill-color: #FFFFFF !important;
    background-color: transparent !important;
}
a {
    text-align: end;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
   background: linear-gradient(120deg, #0B1F3A, #1E5EFF);
   font-size: 1.4em;
   cursor: pointer;
   border: 1px solid #0B1F3A;
   border-radius: 5px;
   padding: 8px;
}
button:hover {
    background: linear-gradient(135deg, #0B1F3A, #1E5EFF, #00BFA6);
}
#copy {
    align-self: flex-end;
    grid-column: span 12;
    text-align: center;
    margin-bottom: 30px;
}
@media (max-width: 835px) {
    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;      
        background-position: 70% center;
    }
    .title {
        text-align: center;
    }
    form {
        background-color: #0b1f3aff;
        padding: 25px 15px;
        align-content: center;
        grid-column: span 12;
    }
}